.video {
    position: relative;
    max-height: 70rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9e37f2+63,ffffff+99&0.7+0,1+0,0.7+0,0.7+100,0+100,1+100,0.7+100 */
        background: -moz-linear-gradient(
            -45deg,
            rgba(158, 55, 242, 0.7) 0%,
            rgba(158, 55, 242, 0.7) 63%,
            rgba(255, 255, 255, 0.7) 99%,
            rgba(255, 255, 255, 0.7) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            -45deg,
            rgba(158, 55, 242, 0.7) 0%,
            rgba(158, 55, 242, 0.7) 63%,
            rgba(255, 255, 255, 0.7) 99%,
            rgba(255, 255, 255, 0.7) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            135deg,
            rgba(158, 55, 242, 0.7) 0%,
            rgba(158, 55, 242, 0.7) 63%,
            rgba(255, 255, 255, 0.7) 99%,
            rgba(255, 255, 255, 0.7) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b39e37f2', endColorstr='#b3ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    video {
        display: block;
        width: 100%;
    }
}

.video-content {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 6rem;
        color: $white;

        span {
            font-size: 2rem;
            background-color: $pink;
            padding: 1rem 2rem;
        }
    }
}
